@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html {
    background-color: rgb(238, 238, 238);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04em;
    margin:30px;
}

h1, h2, h3 {
    font-weight: lighter;

}

form {
    background-color: rgb(140, 170, 187);
    padding:30px;
}

fieldset{
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0px;
  }

input[type=submit], input[type=file] {
  background-color: rgb(0, 0, 0); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
}
input[type=submit]:hover {
    background-color: rgb(187, 140, 163); 
  }